:host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }

  /* Assurez-vous que le HTML et BODY occupent toute la hauteur de la fenêtre */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Cache le défilement horizontal si l'image est plus large que l'écran */
}

/* Ajoutez l'image en arrière-plan sur tout le corps de la page */
body {
  // background: url('/assets/images/background.webp') no-repeat center center fixed;
  // background-size: cover; /* S'assure que l'image couvre toute la page sans déformation */
  // transition: background-size 0.5s ease !important; /* Animation du zoom */
}

.door-interaction {
  position: absolute;
  width: 100%; /* Ajustez si nécessaire */
  height: 100%; /* Ajustez si nécessaire */
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 10; /* Sous le header mais au-dessus de tout le reste */
}

